:root {
  --primary: #b6895b; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: 'Poppins', sans-serif;
  
  background: linear-gradient(to bottom, #0d5051, #93fd70);
  min-height: 100vh;
  
  color: #fff;
}

.about .about-ab {
  display: flex; /* Biar rapi aja */
  padding: 1.0rem 7%;
  background-color: transparent; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.about .about-ab a {
  color: #fff;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
  transition: color 0.2s linear;
}

.about .about-ab a:hover {
  color: var(--primary);
}

.about .about-ab a::after {
  content: '';
  display: block;
  padding-bottom: 0.2rem; 
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0); 
  transition: 0.2s linear;
}

.about .about-ab a:hover::after {
   transform: scaleX(1);
}

.kontena-detail {
  padding-top: 6rem;
  
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 3rem;
}


.detail-container {
  display: flex;
  gap: 2.5rem; 
  align-items: flex-start; 
  
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.detail-gambar {
  flex: 1; 
}

.detail-gambar img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}


.detail-info {
  flex: 1.2; 
  display: flex;
  flex-direction: column;
}

.detail-info h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.deskripsi {
  font-size: 1.1rem;
  line-height: 1.6; 
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

.harga {
  font-size: 2rem;
  font-weight: 700;
  color:chocolate; 
  margin-bottom: 1.5rem;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.tombol-beli {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
  font-size: 1.1rem;
  width: fit-content; 
}

.tombol-beli:hover {
  background-color: #fff;
  color: var(--primary);
}


@media (max-width: 768px) {
  .detail-container {
    flex-direction: column; 
    padding: 1.5rem;
  }
  
  .detail-info h2 {
    font-size: 2rem;
  }
  
  .harga {
    font-size: 1.8rem;
  }
}
